@font-face {
    font-family: "vaqt";
    src: url("./digital-7/digital-7.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: dodgerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.time{
    font-size: 20vw;
    font-family: "vaqt";
    text-shadow: 5px 5px 10px dodgerblue;

}
.day,
.year{
    color: #999;
    
}